.texto{
    
    background-color: $colorTexto;
    h2{
        font-size: 30px;
        padding: 10px;
    }
    p{
        font-size: 24px;
        padding: 10px;
    }
}
.textoNos{
    @extend .texto;
    border-radius: 10px;
}
.textoAct{
    @extend .texto;
    border-radius: 10px;
}